# VS Code
.vscode/
*.code-workspace

# Системные файлы
.DS_Store
Thumbs.db

# Логи и временные файлы
*.log
*.tmp

# Файлы с паролями или секретами
.env
config/secret.json

# Папка с зависимостями
node_modules/
package-lock.json

# Личные заметки
notes.txt
todo.md

# Агент
.letta/

# Мусорные изображения
images/garb/

# Исходники графики
*.psd
*.zip
*.rar